/* Inputs.css */

.inputs {
	border: 1px solid black;
	min-width: 500px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.section-tabs {
	display: flex;
}

.section-tab {
	font-size: 1.25rem;
	padding: 0.5rem;
	border: 1px solid black;
	cursor: pointer;
	background-color: white;
}

.section-tab:hover {
	background-color: rgb(220, 220, 220); /* TEMPORARY COLOR TO BE CHANGED */
}

.section-tab.active {
	background-color: rgb(189, 192, 198); /* TEMPORARY COLOR TO BE CHANGED */
}

.section-tab:first-child {
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
}

.section-tab:last-child {
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
}

.new-card {
	cursor: pointer;
	margin-top: 2.5rem;
}

.input-card {
	border: 1px solid black;
	cursor: pointer;
	min-width: 24rem;
	padding: 0.5rem;
	margin: 0.25rem;
	background-color: white;
}

.input-card:hover {
	background-color: rgb(220, 220, 220); /* TEMPORARY COLOR TO BE CHANGED */
}

.text-input,
.text-area {
	display: flex;
	flex-direction: column;
}

.experience-form {
	border: 1px solid black;
	padding: 1rem;
	background-color: white;
	width: 20rem;
	margin: 0 auto;
}
