/* Resume.css */

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.35rem;
}

h4 {
	font-size: 1.25rem;
	font-weight: normal;
}

h4 {
	font-size: 1.15rem;
	font-weight: normal;
}

p {
	font-size: 1.15rem;
	overflow-wrap: break-word;
}

.resume {
	border: 1px solid black;
	width: 8.5in;
	height: 11in;
	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: "Times New Roman", Arial, sans-serif;
}

.resume-header {
	background-color: rgb(29, 53, 87); /* TO BE FACTORED OUT*/
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	gap: 0.5rem;
}

.resume-header > h1 {
	margin-bottom: 0.5rem;
}

.resume-banner {
	background-color: lightgray; /* TO BE FACTORED OUT */
	display: flex;
	justify-content: center;
	padding: 0.25rem;
}

.line-header {
	display: flex;
	justify-content: center;
	gap: 2rem;
	width: 100%;
}

.fa-solid {
	font-size: 1.15rem;
}

.line {
	display: flex;
	justify-content: space-between;
}

.resume-collection {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.resume-summary {
	padding: 2.5rem 2.5rem 0 2.5rem;
	font-style: italic;
}

.resume-experience {
	padding: 2.5rem 2.5rem 0 2.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.resume-experience > div:not(:first-child):not(:last-child) {
	margin-bottom: 1rem;
}

.resume-education {
	padding: 2.5rem 2.5rem 0 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.resume-education > div:not(:first-child):not(:last-child) {
	margin-bottom: 1rem;
}

.resume-skills {
	padding: 2.5rem 2.5rem 0 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
